<div class="search">Search by order name <input type="search" [(ngModel)] = "orderSearch" #ctrl="ngModel" class="input-search"></div>
<div class="wrapper">
    <div class="col-xs-12 end-xs">
        <button (click)="switchView()" class="btn-show-fav">
            <span>Hide favorite</span>
        </button>
    </div>
    <table>
        <thead>
            <tr>
                <th>Order name (number)</th>
                <th>Create date</th>
                <th>Creator name</th>
                <th>Facility name (code)</th>
                <th>Identifier</th>
                <th>Patient fullName</th>
                <th>Physician name</th>
                <th>Order status</th>
                <th>Add favorite</th>
            </tr>
        </thead>
        <tr *ngFor="let order of orders | search: orderSearch : 'orderName'">
            <td>
                {{order.orderName}} ({{order.orderNum}})
            </td>
            <td>{{order.creationDate.dateTime}}</td>
            <td>{{order.creator?.name}}</td>
            <td>{{order.facility?.name}}, ({{order.facility?.code}})
            <td>{{order.identifier}}</td>
            <td>{{order.patient?.fullName}}</td>
            <td>{{order.physician?.name}}</td>
            <td>{{order.status?.name}}</td>
            <td >
                <div class="btn-heart" (click)="setFavorite(order.orderNum)" [ngClass]="{'red': order.favorite === true, 'white': order.favorite === false}"></div></td>
        </tr>
    </table>
</div>
        